{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "linebreak-style": "off",
//    "prefer-destructuring": ["error", {"object": false, "array": false}],
//    "function-paren-newline": ["error", "consistent"],
//    "object-curly-newline": ["error", {
//      "consistent": true
//    }],
//    "jsx-a11y/no-static-element-interactions": "warn",
//    "jsx-a11y/href-no-hash": "off",
//    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
//    "func-names": [
//      "error",
//      "never"
//    ],
//    "comma-dangle": [
//      "error",
//      "never"
//    ],
    "max-len": [
      "error",
      256,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "react/require-default-props": "off",
    "react/no-unused-prop-types": "warn",
    "react/style-prop-object": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "jest": true,
    "protractor": true
  },
  "globals": {
    "ga": true
  }
}
